html , body{
	height: 100%;
	margin: 0px;
}
body{
	background-image: url(img/background.jpg);
	background-size: cover;
	background-repeat: repeat;
}
.error{
	border: 1px solid red;
}
#footer_data{
	margin-top: 5px;
	font-size: 18px;
	text-align: right;
}
footer{
    position: fixed;
    background-color:rgba(0 ,0 ,0 ,0.7);
    color: white;
    bottom:0;
    width: 100%;
}
#footer_left, #footer_right, #footer_center{
	text-align: center;
	float: left;
	width: calc(100% / 3);
	box-sizing: border-box;
	padding: 5px 10px;
	background-color: black;
	height: 80px;
}
footer #footer_info{
	float: none;
	padding: 5px 10px;
	width: 100%;
	background-color: #007b5e;
	color: white;
	font-size: 15px;
	text-align: center;
	box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

::placeholder {
    color: grey;
    font-weight: normal; 
}

:-ms-input-placeholder { 
   color: grey;
   font-weight: normal;
}

::-ms-input-placeholder { 
   color: gray;
   font-weight: normal;
}

@media (max-width: 480px){
    footer { 
        display : none; 
        visibility : hidden; 
    }
}
#push{
	height: 50px;
	padding-bottom: 100px; 
}
@media (max-width: 768px){
    #push { 
        height: 50px; 
    }
}

/*Index page*/

#content{
	margin: 13% 6%;
	text-align: center;
	padding: 2% 3%;
	padding-top: 0.2%;
	background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(145, 145, 145, 0.6),rgba(5, 5, 5, 0.6),rgba(25, 25, 25, 0.6));
	color: white;
	box-shadow: 0px 1px 0px 1px rgba(55, 55, 55,0.5),
				0px 0px 8px 8px rgba(255, 255, 255,0.4);
}
#title{
	font-weight: bold;
	font-size: 5em;
	text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.3),
				 0px 10px 15px rgba(55, 55, 55, 0.4),
				 0px 20px 25px rgba(255, 255, 255, 0.3);

}
#content .fa-smile-o{
	color: yellow;
}
.quote{
	font-family: 'Kaushan Script', cursive;
	color: black;
}
#content hr{
	border-top: 2px solid #f8f8f8;
	border-bottom: 2px solid rgba(0,0,0,0.2);
	width: 60%;
}
.logo{
	margin: 10px;
	margin-bottom: 0px;
}
#content .btn-lg{
	outline: none;
	border-radius: 25px 10px;
	letter-spacing: 2px;
}
#content #intro{
	font-size: 18px;
}



/*login page*/

#sign_in{
	max-width: 300px;
	margin: 0 auto;
	padding: 20px;
	background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(65, 65, 65, 0.8));
	border-radius: 12px;
	box-sizing: border-box;
}
.wrap{
	width: 30%;
	margin: 8% calc(10% / 6);
	float: left;
}
.quotes{
	height: 360px;
	max-width: 280px;
	margin: 0 auto;
	padding: 20px;
	background: linear-gradient(rgba(85, 85, 85, 0.6),rgba(0, 0, 0, 0.8));
	color: #ffff33;
	display: flex;
	vertical-align: center;
	font-family: 'Kaushan Script', cursive;
	border-radius: 12px;
	box-sizing: border-box;
}
.quotes h3{
	margin: auto;
}
#sign_in h2{
	color: #11bbbb;
	letter-spacing: 2px;
	margin-top: 0px;
	margin-bottom: 25px;
	text-shadow: 0px 2px 3px rgba(255,255,255,0.4);
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
	text-underline-position: under;
}
#sign_in label{
	color: white;
	width: 100%;
	font-size: 15px;
	padding: 0px 12px;
	margin-bottom: 2px;
	box-sizing: border-box;
	text-transform: uppercase;
	letter-spacing: 2px;
}
#sign_in input{
	width: 100%;
	margin-bottom: 20px;
	padding: 5px 15px;
	color: white;
	background-color: transparent;
	font-size: 15px;
	border: none;
	border-bottom: 1px solid #11bbbb;
	box-sizing: border-box;
	outline: none;
}
#sign_in button{
	margin: 12px 2px;
	width: 100%;
	padding: 8px 18px;
	border-radius: 25px;
	background: #11bbbb;
	color: white;
	font-size: 18px;
	font-weight: bold;
	box-sizing: border-box;
	outline: none;
	letter-spacing: 2px;
}
#sign_in button:hover{
	background-color: rgb(235, 235, 235);
	border: 2px solid #11bbbb;
	color: #11bbbb;
}
#sign_in a{
	width: 100%;
	font-size: 16px;
	color: white;
	display: inline-block;
	text-align: right;
	text-decoration: none; 
}
#sign_in a[href = "signup.php"]{
	text-align: center; 
}
#sign_in a:hover{
	color: red;
}
@media (max-width: 950px){
    .wrap{
    	width: 25%;
    }
    .wrap:nth-child(2){
    	width: 40%;
    }
}
@media (max-width: 890px){
    .wrap:nth-child(3){
    	width: 35%;

    }
    .wrap:nth-child(2){
    	width: 55%;
    }
    .wrap:nth-child(1){
    	display: none;
    }
    .wrap{
    	margin: 8% calc(10% / 4);
    }
    .quotes h3{
    	font-size: 21px;
    }
}
@media (max-width: 580px){
    .wrap{
    	width: 100%;
    	min-width: 280px;
    	margin: 12% auto;
    	float: none;
    }
    .wrap:nth-child(3){
    	display: none;
    }
}




/*Signup page*/


#sign_up_options{
	width: 68%;
	min-width: 320px;
	margin: 12% auto;
	box-sizing: border-box;
	border-radius: 15px;
	text-align: center;
	padding: 20px 5px;
}
#sign_up_options h1{ 
	color: black;
	font-size: 40px;
	letter-spacing: 2px;
	margin: 0 9%;
	margin-bottom: 20px;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	transition: all 0.6s linear;
	-webkit-transition: all 0.6s linear;
	box-sizing: border-box;
	text-decoration: underline;
	text-underline-position: under;
	text-transform: uppercase;
}
#sign_up_options input {
    visibility:hidden;
}
#sign_up_options label {
    font-size: 18px;
    width: 25%;
    padding: 8px 10px;
    text-transform: uppercase;
    margin: 2%;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    font-weight: bold;
	box-sizing: border-box;
	outline: none;
	letter-spacing: 2px;
	color: white;
	transition: all 0.7s linear;
	-webkit-transition: all 0.7s linear;
}

/*Signup buttons individual colour + color on change*/

#sign_up_options label[for="c"]{
	background-color: green;
}   
#sign_up_options label[for="v"]{
	background-color: red;
}
#sign_up_options label[for="n"]{
	background-color: blue;
}
#sign_up_options input:checked + label[for="c"], #contributor_form button:hover{
    background-color: white;
    color: green;
    border: 3px solid green;
}
#sign_up_options input:checked + label[for="v"], #volunteer_form button:hover{
    background-color: white;
    color: red;
    border: 3px solid red;
}
#sign_up_options input:checked + label[for="n"], #ngo_form button:hover{
    background-color: white;
    color: blue;
    border: 3px solid blue;
}
.sign_up_form{
	background-color: rgba(0,0,0,0.5);
	width: 60%;
	max-width: 500px;
	min-width: 500px;
	margin: 2% auto;
	box-sizing: border-box;
	border-radius: 15px;
	padding: 20px;
	display: none;
}
.sign_up_form label{
	width: 100%;
	color: white;
	font-size: 15px;
	padding: 12px 5px 0px 5px;
	text-transform: uppercase;
	letter-spacing: 2px;
	box-sizing: border-box;
}
.sign_up_form input, .sign_up_form textarea, .sign_up_form select{
	width: 100%;
	font-size: 15px;
	outline: none;
	border-radius: 25px;
	padding: 5px 20px;
	box-sizing: border-box;
}
.input_wrap{
	box-sizing: border-box;
	width: 48%;
	margin: 0% 1%;
	margin-bottom: 15px;
	float: left;
}
.sign_up_form input[type="file"]{
	width: 100%;
	outline: none;
	color: white;
	box-sizing: border-box;
}
.sign_up_form button{
	width: 60%;
	box-sizing: border-box;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
	border-radius: 25px;
	font-weight: bold;
	padding: 8px 18px;
	margin: 12px 2px;
	outline: none;
}
#contributor_form button{
	background-color: green;

}
#volunteer_form button{
	background-color: red;

}
#ngo_form button{
	background-color: blue;
}
.sign_up_form a{
	width: 100%;
	font-size: 17px;
	color: white;
	display: inline-block;
	text-decoration: none; 
}
.sign_up__form a:hover{
	color: red;
}
@media (max-width: 1000px){
    #sign_up_options label {
    	font-size: 15px;
    	width: 30%;
    	margin: 4% 0%;
    	letter-spacing: 0px;
    }
    #sign_up_options h1{
    	margin: 0 7%;
    	font-size: 30px;
    }
}
@media (max-width: 650px){
	.sign_up_form{
		min-width: 300px;
	}
    #sign_up_options label {
    	font-size: 16px;
    	margin: 1% 0%;
    	width: 70%;
    }
    #sign_up_options h1{
    	font-size: 30px;
    	letter-spacing: 0px;
    	width: 50%;
    	margin: 0 25%;
    	margin-bottom: 10px;
    }
    .input_wrap{
    	width: 100%;
		margin: 0% 1%;
		margin-bottom: 10px;
    	float: none
    }
}
@media (max-width: 400px){
    #sign_up_options h1{
    	font-size: 28px;
    	letter-spacing: 0px;
    	margin-top: 0;
    }
    .sign_up_form button{
    	width: 90%;
    }
}




/*Cart page*/


#items{
	margin: 0 auto;
	text-align: center;
	padding:2%;
	margin-top: 3%;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	max-width: 700px;
	box-sizing: border-box;
	box-shadow: 0px 1px 0px 1px rgba(255, 255, 255,0.2),
				0px 0px 8px 8px rgba(55, 55, 55,0.3);
}
.item{
	margin: 4px;
}
.item select
{
	height: 35px;
	color: black;
	border-radius: 25px;
	padding: 0px 10px;
	outline: none;
	width: 38%;
	box-sizing: border-box;
	text-transform: uppercase;
}
.item label{
	color: white;
	font-size: 22px;
	padding: 8px;
	text-transform: uppercase;
	width: 34%;
	text-align: left;
	letter-spacing: 2px;
	box-sizing: border-box;
}
.item input{
	height: 35px;
	color: black;
	border-radius: 25px;
	text-align: center;
	outline: none;
	width: 12%;
	font-weight: bold;
	margin-right: 3%;
	box-sizing: border-box;
}
#items button{
	width: 36%;
	padding: 10px 16px;
	border-radius: 25px;
	background: #02ca31;
	color: white;
	font-size: 18px;
	font-weight: bold;
	box-sizing: border-box;
	text-transform: uppercase;
	outline: none;
	letter-spacing: 2px;
	box-sizing: border-box;
}
#items button:hover{
	background-color: white;
	color: #02ca31;
	border: 3px solid #02ca31;
}

@media (max-width: 620px){
	#items{
		min-width: 300px;
	}
    .item { 
    	text-align: center;
    	border: 1px solid white;
		border-radius: 10px;
		margin: 6px;
		padding: 6px 0px;
    }
    .item label{
    	width: 60%;
    	font-size: 18px;
    }
    .item input{
    	width: 35%;
    }
    .item select{
    	width: 95%;
    }
    #item button{
    	font-size: 15px;
    }

}


/*Checkout page*/


#checkout{
	text-transform: uppercase;
	background-color: rgba(0,0,0,0.6);
	max-width: 480px;
	min-width: 300px;
	margin: 0 auto;
	margin-top: 2%;
	padding: 20px 30px;
	padding-top: 5px;
	box-sizing: border-box;
	box-shadow: 0px 1px 0px 1px rgba(255, 255, 255,0.2),
				0px 0px 8px 8px rgba(55, 55, 55,0.3);
}
#checkout hr{
	margin: 0px;
}
#checkout h3{
	color: white;
	font-weight: bold;
	text-align: center;
}

#checkout label{
	color: white;
	width: 100%;
	font-size: 15px;
	padding: 12px 5px 0px 5px;
	margin-bottom: 0px;
	box-sizing: border-box;
}
#checkout input, #checkout select{
	width: 100%;
	padding: 5px 20px;
	font-size: 15px;
	font-weight: normal;
	border-radius: 5px;
	box-sizing: border-box;
	outline: none;
	color: black;
}
#checkout button{
	margin-top: 20px;
	width: 55%;
	padding: 8px 18px;
	border-radius: 25px;
	background: #1161ee;
	color: white;
	font-size: 18px;
	font-weight: bold;
	box-sizing: border-box;
	outline: none;
	letter-spacing: 2px;
}
#checkout button:hover{
	background-color: white;
    color: #1161ee;
    border: 3px solid #1161ee;
}

#checkout select{
	height: 36px;
}
#mnum{
	width: 50%;
	float: left;
	margin-right: 2.5%;
	box-sizing: border-box;
}
#pcode{
	width: 45%;
	float: left;
	margin-left: 2.5%;
	box-sizing: border-box;
}
#pickup_date{
	width: 50%;
	float: left;
	margin-right: 2.5%;
	box-sizing: border-box;
}
#pickup_time{
	width: 45%;
	float: left;
	box-sizing: border-box;
	margin-left: 2.5%;

}
#city_name{
	width: 48%;
	float: left;
	box-sizing: border-box;
	margin-right: 2%;
}
#state_name{
	width: 48%;
	float: left;
	box-sizing: border-box;
	margin-left: 2%;
}
#checkout input[readonly=""]{
	background-color: rgba(255,255,255,0.6);
	color: black;
	cursor: not-allowed;
}

@media (max-width: 510px){
	#checkout{
		width: 350px;
		margin: 0 auto;
		margin-top: 20px;
	}
    #mnum,#pcode,#pickup_date,#pickup_time,#city_name,#state_name{
    	width: 100%;
    	float: none;
    	margin-right: 0;
    	margin-left: 0;
    }
}


#checkout input[type=number]::-webkit-inner-spin-button, 
#checkout input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}


/*Pickup Confirmation Page*/

#msg{
	width: 70%;
	margin: 12% auto;
	background-color: rgba(255, 255, 255, 0.4);
	color: #007bff;
	text-align: center;
	box-sizing: border-box;
	padding: 20px;
	box-shadow: 1px 2px 1px 1px rgba(55, 55, 55, 0.2);
}
#msg h1{
	font-size: 60px;
	font-weight: bold;
}



/*NGO Request Page*/

#ngo_request{
	width: 100%;
}
#current_request, #update_request{
	width: 50%;
	max-width: 300px;
	background: rgba(255, 255, 255, 0.5);
	float: left;
	color: black;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0px 2px 0px 2px rgba(255, 255, 255,0.5),
				0px 0px 8px 8px rgba(55, 55, 55,0.4);
}
#current_request{
	margin: 10% calc((100% - 600px)/6) 5% calc((100% - 600px)/3);
}
#update_request{ 				
	margin: 10% calc((100% - 600px)/3) 5% calc((100% - 600px)/6);
	height: 300px;
}
#current_request h2, #update_request h2{
	margin: 0;
	text-align: center;
	font-weight: bold;
	padding-bottom: 15px;
	color: #007bff;

}
#current_request th, #current_request td{
	
	padding: 4px;
	text-align: center;
	font-size: 18px;
	border: 2px solid gray;
}
#current_request table{
	width: 100%;
	text-transform: uppercase;
}
#update_request label, #update_request input, #update_request button{
	text-transform: uppercase;
	font-weight: normal;
	box-sizing: border-box;
	outline: none;
} 
#update_request label{
	letter-spacing: 2px;
	font-size: 18px;
}
#update_request input{
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid black;
	text-align: center;
	float: right;
	
}
#update_request button{
	width: 80%;
	margin: 0 10%;
	margin-top: 15px;
	letter-spacing: 2px;
	font-size: 20px;
	padding: 3px;
	border-radius: 4px;
	border: 1px solid black;
	background-color: orange;
}
@media (max-width: 640px){
    #current_request, #update_request{
    	float: none;
    	width: 300px;
    	margin: 8% auto;
    }
}




/*Unassigned Volunteer & Volunteer Tasks Page*/

#unassigned_tasks{
	width: 80%;
	min-width: 350px;
	margin: 5% auto;
	box-sizing: border-box;	
	padding: 28px 20px;
	background: rgba(55, 55, 55, 0.7);
}
#unassigned_tasks .tasks{
	width: 45%;
	background: #eee;
	border-radius: 5px;
	border: 3px solid #34c6d3;
	min-width: 280px;
	color: #333;
	margin: 10px calc(10% / 4);
	box-sizing: border-box;
	padding: 15px;
	float: left;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	height: 180px;
	overflow-y: scroll;
}
.tasks ul{
	list-style: circle;
	padding-left: 10px;
	margin: 0;
	font-size: 15px;
}
.tasks li ul{
	list-style: disc;
	margin-left: 18px;
}
.tasks button{
	margin-top: 10px;
	margin-right: 5px;
	font-size: 16px; 
	padding: 3px 10px;
	color: black;
	box-sizing: border-box;
}
@media(max-width: 995px){
	#unassigned_tasks{
		width: 90%;
	}
}
@media(max-width: 700px){
	#unassigned_tasks{
		width: 85%;
		padding: 20px;
	}
	#unassigned_tasks .tasks{
		width: calc(100% - 30px);
		height: 100%;
		float: none;
		margin: 15px;
		overflow-y: visible;
	}
}

.empty_task{
	margin: 12% auto;
	width: 100%;
	max-width: 600px;
	border: 1px solid red;
	color: red;
	border-radius: 5px;
	letter-spacing: 2px;
	box-sizing: border-box;
	padding: 20px;
}
.empty_task h2,.empty_task h3{
	text-align: center;
	margin: 0;
}
.tasks button[disabled ='']{
	color: grey;
	cursor: not-allowed;
}

/* Admin - NGO Details and Sendfrom Waehouse */

.ngo_status{
	width: 300px;
	max-width: 300px;
	height: 360px;
	background: rgba(255, 255, 255, 0.5);
	float: left;
	color: black;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0px 1px 0px 1px rgba(255, 255, 255,0.1),
				0px 0px 8px 8px rgba(55, 55, 55,0.4);
	float: left;
	margin: 30px calc((100% - 900px) / 6);
}
.ngo_status:nth-child(1){
	background: rgba(255, 205, 204, 0.8);
}
.ngo_status h3, .ngo_status h5, .ngo_status h2{
	margin: 0;
	text-align: center;
	font-weight: bold;
	padding-bottom: 10px;
	color: #007bff;
}
.ngo_status th, .ngo_status td{
	
	padding: 4px;
	text-align: center;
	font-size: 18px;
	border: 2px solid gray;
	letter-spacing: 2px;
}
.ngo_status table{
	width: 100%;
	text-transform: uppercase;
}
.ngo_status button{
	font-weight: normal;
	box-sizing: border-box;
	outline: none;
	width: 80%;
	margin: 0 10%;
	margin-top: 15px;
	letter-spacing: 2px;
	font-size: 20px;
	padding: 3px;
	border-radius: 4px;
	border: 1px solid black;
	background-color: orange;
}
.ngo_status label, .ngo_status input, .ngo_status button,.ngo_status select{
	text-transform: uppercase;
	font-weight: normal;
	box-sizing: border-box;
	outline: none;
} 
.ngo_status label{
	letter-spacing: 2px;
	font-size: 18px;
}
.ngo_status input,.ngo_status select{
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid black;
	text-align: center;
	float: right;	
}
.ngo_status input[type = "number"]{
	width: 60px;
}
.ngo_status input[type = "date"]{
	width: 140px;
	font-size: 13px;
}
.ngo_status select{
	width: 110px;
	height: 24px;
	font-size: 14px;
}
@media (max-width: 946px){
    .ngo_status{
    	width: 300px;
    	margin: 30px calc((100% - 600px) / 4);
    }
}
@media (max-width: 640px){
    .ngo_status{
    	float: none;
    	width: 300px;
    	margin: 8% auto;
    }
}

/*Change Password & About Us*/


.change-password, .about{
	padding: 30px;
	width: 55%;
	box-sizing: border-box;
	margin: 8% auto;
	text-align: center;
	background-color: rgba(238, 238, 238, 0.9);
}
.pass-title{
	font-size: 29px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin: 0 0 20px 0;
}
.content-title-underline{
	width: 50px;
	height: 3px;
	background-color: #34c6d3; 
	margin: 0 auto 30px auto;
}
.password-reset label{
	font-size: 18px;
	letter-spacing: 2px;
	margin-top: 10px;
}
.password-reset input{
	font-size: 17px;
	letter-spacing: 2px;
	padding: 3px 10px;
	box-sizing: border-box;
	margin-top: 10px;
	border: 2px solid rgba(255, 102, 0, 0.5);

}
.password-reset button{
	font-size: 18px;
	letter-spacing: 2px;
	color: black;
	margin-top: 10px;
	text-transform: uppercase;
	background: rgba(255, 102, 0, 1);
	border: 2px solid black;
	border-radius: 2px;
	padding:2px 10px;
	box-sizing: border-box;
	margin-left: 10px 
}
.password-reset button:hover{
	color: rgba(255, 102, 0, 1);
	background: #fff;
	border: 2px solid rgba(255, 102, 0, 1);
}
.change-password h2{
	color: black;
	font-weight: 500;
	margin: 20px 0px 15px 0px;
	

}
.password-error{
	padding: 10px;
	margin-top: 50px;
	box-sizing: border-box;
	border: 2px solid #34c6d3;
	border-radius: 5px;
}
.password-error h3{
	color: #e62e00;
	font-weight: 700;
}
.new_pass label{
	margin-bottom: 2px;
	margin-top: 0px;
}
.new_pass input{
	padding: 5px;
	margin-bottom: 15px;
	margin-top: 0px;
	width: 250px
}
.new_pass button{
	padding: 5px 15px;
	margin-left: 0px;
}
.about{
	margin-top: 2%;
	width: 90%;
	min-width: 400px;
}
.about p{
	font-size: 17px;

}